<!-- {% comment %}
        {% include 'analyst/include/__form.html' with form_url_name='' form_id="formId" method="post" form=form' %}
    {% endcomment %}
 -->
{% with button_id=form_id|add:'Button'|default:'formSubmitButton'  %}
<form {% if url_name %}action="{% url form_url_name %}" {% endif %}method="{{ method|default:'POST' }}" id="{{ form_id|default:'formSubmitButton' }}" class="uk-form-horizontal">
    {{ form.media }}
    {% if method|lower != "get" %}
    {% csrf_token %}
    {% endif %}
    {{ form.non_field_errors }}
    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
    {% endfor %}
    {% for field in form.visible_fields %}
    <div class="field" id="group_{{ field.html_name }}">
        {% if field.errors %}
        <ol>
            {% for error in field.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}
        <label class="{% for class in field.field.widget.label_classes %}{{ class }}{% endfor %}" for="{{ field.auto_id }}">
            {{ field.label }}
        </label>
        <div class="uk-inline">
            {% if field.field.widget.uk_icon %}
            <span class="uk-form-icon" uk-icon="{{ field.field.widget.uk_icon }}"></span>
            {% endif %}
            {{ field }}
        </div>
        <small id="{{ field.id_for_label }}Help" class="">
            {{ field.help_text|safe }}
        </small>
    </div>
    {% endfor %}
    <button id="{{button_id}}" type="submit" class="uk-button uk-button-primary">
        Submit
    </button>
</form>
 {% endwith %}



